<style>
    body{   
       
        padding-top: 30px;  
        padding-bottom: 60px;  
       
    background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

    </style>
<body>
    <div class="container">
        <div class="row align-items-center vh-100">
            <div class="col-6 mx-auto">
    <div class="card d-flex flex-column align-items-cente ">
        <form class="width-five p-5" [formGroup]="employeeInfo">
            <label>Employee Name*</label>
            <input class='form-control' placeholder="Shraddha Gaware" formControlName="employeeName">
            <div class="row">
                <div class="col">
                    <label>Email*</label>
                    <input class='form-control' placeholder="sg@gmail.com" formControlName="employeeEmail">
                </div>
                <div class="col">
                    <label>Phone*</label>
                    <input class='form-control' placeholder="xxxxxxxxxx" formControlName="employeePhone">
                </div>
            </div>
            <label>Date of Birth*</label>
            <input class='form-control' type="date" formControlName="employeeDOB">
                <div class="row">
                    <div class="col">
                        <label>Address*</label>
                        <input class='form-control' placeholder="Akurdi,Pune,Maharashtra " formControlName="employeeStreet">
                    </div>
                </div>
            
            <br/>
            <div class="d-flex justify-content-center">
                <div class="btn btn-success" (click)="submitHandler()">Submit</div>
            </div>
        </form>
    </div></div></div></div>
</body>